@import "src/styles/vars.scss";

.advantages {
  padding-bottom: 70px;
  background: 
    url(/media/images/sections/advantages/blue-light.png)no-repeat right bottom,
    url(/media/images/sections/advantages/bg-img.png)no-repeat left top,
    url(/media/images/sections/advantages/green-light.png)no-repeat left top;

  @media (max-width: 991px) {
    background: 
    url(/media/images/sections/advantages/blue-light.png)no-repeat right bottom,
    url(/media/images/sections/advantages/green-light.png)no-repeat left top;
  }

  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__info-title {
    font-size: 25px;
    line-height: (30/25);
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__info {
    width: 55%;
    max-width: 560px;
    padding-left: 30px;

    @media (max-width: 991px) {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }
  }

  &__info-text {
    font-size: 14px;
    line-height: (20/14);
    color: #8E939C;
  }

  &__info-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 35px;

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

  &__info-item {
    display: flex;
    align-items: flex-start;

    &:nth-child(1) {
      .advantages__info-icon {
        @include grayBlock;
        border-radius: 50%;
      }
    }

    &:nth-child(2) {
      .advantages__info-icon {
        background: linear-gradient(360deg, #2A92ED 0%, #2A92ED 0.01%, #2B64F8 100%);
      }
    }

    &:nth-child(3) {
      .advantages__info-icon {
        background: $mainGreen;
      }
    }

    &:nth-child(4) {
      .advantages__info-icon {
        @include grayBlock;
        border-radius: 50%;
      }
    }

    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__play-video {
    transition: .3s ease;
    width: 80px;
    cursor: pointer;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(42px);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 600px) {
      width: 45px;
      height: 45px;

      img {
        width: 10px;
      }
    }
  }

  &__preview {
    position: relative;
    margin-bottom: 35px;

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__preview-img {
    width: 100%;
    max-width: 485px;
  }

  &__video-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;

    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__video-description {
    font-size: 25px;
    line-height: (30/25);
    font-weight: 700;
    color: #fff;
    max-width: 460px;

    @media (max-width: 991px) {
      max-width: 600px;
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}