@import 'src/styles/vars.scss';

.round {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('/media/images/sections/round/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;

  @media (max-width: 991px) {
    background-image: none;
    background: linear-gradient(to right, #2A92ED 50%, #1FBF75 100%);
  }

  &__content {
    padding: 40px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  &__image {
    margin-right: 25px;
    position: relative;
    top: -15px;

    @media (max-width: 767px) {
      margin-right: 20px;
    }
  }

  &__info {
    flex: 1;
    margin-right: 15px;

    @media (max-width: 767px) {
      flex: unset;
      width: calc(100% - 105px);
      margin: 0 0 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(#D5EBFF, .7);
  }

  &__link {
    justify-content: space-between;
  }

  &__bottom {
    width: 100%;
    padding: 20px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(42px);
    border-radius: 0 0 20px 20px;
  }

}

.progress {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;


  &__bar {
    height: 6px;
    background: #0F0F0F;
    border-radius: 10px 0 0 10px;
    position: relative;
  }

  &__info {
    position: absolute;
    bottom: 20px;
    right: -105px;
    min-width: 210px;
    padding: 8px;
    background-color: #0F0F0F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: 991px) {
      right: unset;
      left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 50%;
      width: 9px;
      height: 7px;
      transform: translateX(-50%);
      background-image: url("/media/images/sections/round/tooltip-before.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 991px) {
        transform: none;
        left: 20px;
      }
    }
  }

  &__value {
    font-family: $micra;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
  }

  &__sum {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #1FBF75;
    margin-left: 4px;
    position: relative;
    top: -2px;
  }
}