@import "src/styles/vars.scss";

.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: (60px + 64px);
  background: linear-gradient(to left, #202B86 0%, #3A459E 100%);
  padding-bottom: 0;

  &__title{
    color: #fff;
    margin-bottom: 25px;

    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: (33/24);
    max-width: 814px;
    margin: 0 auto 45px;

    @media (max-width: 600px) {
      font-size: 15px;
      margin-bottom: 30px;
    }
  }
  &__image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    img {
      max-width: 100%;
      z-index: 1;
      position: relative;
    }

    [data-media="desktop"] {
      @media (max-width: 767px) {
        display: none;
      }
    }

    [data-media="mobile"] {
      display: none;

      @media (max-width: 767px) {
        display: block;
      }
    }
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    margin-top: 80px;

    @media (max-width: 991px) {
      margin-top: 40px;
    }

    @media (max-width: 600px) {
      margin-top: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      right: -1px;
      top: 0;
      bottom: -1px;
      background: #fff;
      clip-path: polygon(0 0, 100% 100%, 0 100%);

      @media (max-width: 767px) {
        clip-path: polygon(0 0, 100% 75%, 100% 100%, 0 100%);
      }
    }
  }
}
