@import 'src/styles/vars.scss';

body {
  font-family: $openSans;
  color: $textDark;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0;

  @media (max-width: 991px) {
    padding: 80px 0;
  }

  @media (max-width: 767px) {
    padding: 60px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }
}

.title {
  font-family: $rubik;
  font-size: 60px;
  font-weight: 900;
  line-height: (75/60);

  @media (max-width: 991px) {
    font-size: 50px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }

  span {
    color: $green;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 45px;
    font-weight: 700;
    line-height: (57/45);

    @media (max-width: 991px) {
      font-size: 35px;
    }

    @media (max-width: 600px) {
      font-size: 25px;
    }
  }

  &--white {
    color: #fff;
  }
}

.subtitle {
  font-family: $rubik;
  font-weight: 700;
  font-size: 27px;
  line-height: (38/27);

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
  }
}

.info-text {
  font-size: 24px;
  line-height: (33/24);

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 13px;
  }

  &--grey {
    color: $gray;
  }

  &--dark {
    color: $dark;
  }

  &--white {
    color: #fff;
  }
}

button {
  outline: none;
  border: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  max-width: 1200px;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.link-btn {
  font-family: $rubik;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 100px;
  display: inline-block;
  transition: .3s ease;
  position: relative;

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
  }

  &--dark {
    background: $dark;
    border: 2px solid $dark;

    &:hover {
      background-color: $light;
      color: $dark;
    }
  }

  &--light {
    background: $green;
    border: 2px solid $green;

    &:hover {
      background-color: $darkGreen;
      border-color: $darkGreen;
    }
  }

  span {
    z-index: 1;
    position: relative;
  }

  &:hover {

  }

  &:active {
    box-shadow: 0 5px 10px rgba(#000, .2);
  }
}

.hidden {
  display: none !important;
}