@import 'src/styles/vars.scss';

body {
  font-family: $manrope;
  color: #3C3B4E;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;

  @media (max-width: 991px) {
    padding: 80px 0 0;
  }

  @media (max-width: 767px) {
    padding: 65px 0 0;
  }
}

.title {
  font-family: $sourceSansPro;
  font-size: 60px;
  font-weight: 900;
  line-height: (75/60);

  @media (max-width: 991px) {
    font-size: 50px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }

  span {
    color: $middleBlue;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 45px;
    font-weight: 700;
    line-height: (57/45);

    @media (max-width: 991px) {
      font-size: 35px;
    }
  
    @media (max-width: 600px) {
      font-size: 25px;
    }
  }

  &--subtitle {
    font-weight: 700;
    font-size: 27px;
    line-height: (38/27);

    @media (max-width: 991px) {
      font-size: 22px;
    }
  
    @media (max-width: 600px) {
      font-size: 15px;
    }
  }
  &--white{
    color: #fff;
  }
}

.info-text {
  font-size: 24px;
  line-height: (33/24);

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 13px;
  }

  &--grey {
    color: $greyText;
  }
  &--dark{
    color: $darkColor;
  }
  &--white{
    color: #fff;
  }
}

button {
  outline: none;
  border: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  max-width: 1200px;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.link-btn {
  font-size: 27px;
  line-height: (38/27);
  color: #fff;
  background: $middleBlue;
  text-decoration: none;
  font-family: $sourceSansPro;
  padding: 12px 30px;
  border-radius: 100px;
  display: inline-block;
  transition: background .3s ease;
  position: relative;

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 15px;
  }

  span {
    z-index: 1;
    position: relative;
  }

  &::before {
    content: '';
    background: linear-gradient(90deg, #9ADDFD 0%, #49ADF3 99.95%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    border-radius: 100px;
  }

  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &:active {
    background: #2996E2;

    &:before {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.hidden {
  display: none !important;
}