$manrope: 'Manrope', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;
$headerHeight: 80px;

//colors
$darkColor: #3C3B4E;
$darkBlue: #3A459E;
$middleBlue: #49ADF3;
$lightBlue: #7CD8FF;
$greyText: #A4A3BA;