$openSans: 'Open Sans', sans-serif;
$rubik: 'Rubik', sans-serif;

//colors
$dark: #091221;
$light: #fff;
$gray: #8c9cac;
$green: #33aa7e;

$btnBgLight: #33aa7e;
$btnBgDark: #091221;

$btnColorLight: #fff;