@import 'src/styles/vars.scss';

.team {
  background: url(/media/images/sections/team/bg-light-green.png)no-repeat left top;

  @media (max-width: 991px) {
    background: none;
  }

  &__section {
    width: 100%;
    background-color: $dark;
    position: relative;
    z-index: 1;

    @media (max-width: 1200px) {
      padding-bottom: 80px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  &__item {
    margin-top: 150px;
    padding: 120px 20px 20px;
    height: 270px;
    z-index: 1;
    position: relative;

    @include grayBlock;

    .tooltip {
      top: 5px;
      cursor: pointer;

      &__block {
        top: 60px;
        left: unset;
        right: -20px;
        transform: none;

        &::before {
          left: unset;
          transform: none;

          right: 22px;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 224px;
    height: 252px;
    margin-bottom: 15px;
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    padding-bottom: 15px;
    border-bottom: 1px solid rgba(#8E939C, .2);
    margin-bottom: 20px;
  }

  &__name {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    width: 70%;
  }

  &__position {
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: rgba(#8E939C, .6);
  }
}