@import "src/styles/vars.scss";

.step-by-step {
  &__inner{
    background: linear-gradient(245.5deg, #202b86 0%, #3a459e 100%);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

    @media (max-width: 961px) {
      flex-direction: column;
    }
  }
  &__title{
    @media (max-width: 961px) {
      display: none;
    }
  }
  &__left {
    flex-grow: 1;
    padding-top: 80px;
    padding-left: 90px;
    padding-bottom: 100px;
    color: #fff;

    @media (max-width: 961px) {
      padding: 0 20px 20px;
    }
  }
  &__right {
    width: 270px;
    min-width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before{ // bad media in design
      content: '';
      background-color: #33aa7e;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      position: absolute;
      left: -2px;

      @media (max-width: 961px) {
        height: 400px;
        width: 400px;
        left: -80px;
        bottom: -100px;
      }
    }

    img { // bad media in design
      z-index: 1;
      margin-left: -40px;
      margin-top: -50px;

      @media (max-width: 961px) {
        transform: scale(1.4);
        margin: 0;
        position: absolute;
        left: 45px;
        bottom: 60px;
      }
    }

    @media (max-width: 961px) {
      height: 300px;
      width: 100%;
      overflow: hidden;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;

    @media (max-width: 961px) {
      grid-template-columns: 1fr;
      margin-top: 0;
    }
  }
  &__step {
    position: relative;
    overflow: hidden;

    @media (max-width: 961px) {
      display: flex;
      margin-top: 20px;
      overflow: initial;
    }
  }
  &__step-count {
    background-color: $dark;
    font-size: 45px;
    font-weight: 700;
    font-family: $rubik;
    border-radius: 100%;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 961px) {
      width: 65px;
      height: 65px;
      font-size: 35px;
    }

    @media (max-width: 600px) {
      width: 50px;
      height: 50px;
      font-size: 27px;
    }

    &::after{
      content: '';
      width: 100%;
      height: 4px;
      background-color: #33aa7e;
      position: absolute;
      left: 77px;

      @media (max-width: 961px) {
        width: 4px;
        left: 31px;
        top: 65px;
        height: 35px;
      }

      @media (max-width: 600px) {
        left: 23px;
        top: 50px;
      }
    }
  }
  &__step-info {
    font-size: 20px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;

    @media (max-width: 991px) {
      max-width: none;
      margin-left: 10px;
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
}
