@import 'src/styles/vars.scss';

.footer {
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid rgba(#8E939C, .15);

  margin-top: 80px;

  @media (max-width: 767px) {
    margin-top: 65px;
  }

  @media (max-width: 991px) {
    padding: 30px 0;
  }

  @media (max-width: 600px) {
    padding: 15px 0;
  }

  &__table {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 20px;

    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      padding-top: 70px;
    }
  }

  &__block {
    width: 100%;
    @media (max-width: 991px) {
      order: 3;
      text-align: center;
    }
  }

  &__logotype {
    display: block;
    margin-bottom: 30px;
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }

    @media (max-width: 991px) {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(#8E939C, .6);
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (max-width: 991px) {
      align-items: center;
      margin-bottom: 25px;
    }

    &--docs {
      @media (max-width: 991px) {
        order: 2;
      }
    }

    &--contacts {
      @media (max-width: 991px) {
        order: 1;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 35px;

    @media (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
      margin-bottom: 15px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(#8E939C, .6);
    margin-bottom: 20px;

    transition: color .3s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: rgba(#8E939C, .9);
    }

    @media (max-width: 991px) {
      margin-bottom: 15px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  &__mail {
    color: rgba(#fff, .5);
    transition: color .3s ease;
    margin-left: 3px;

    &:hover {
      color: rgba(#fff, .8);
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;

  &__link {
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 10px;
    transition: opacity .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .7;
    }

  }

}