@import "src/styles/vars.scss";

.cooperation {
  background: url(/media/images/sections/cooperation/bg.png)no-repeat left calc(50% - 390px) top 80px;

  @media (max-width: 1259px) {
    background: url(/media/images/sections/cooperation/bg.png)no-repeat left -20px top 80px;
  }

  @media (max-width: 991px) {
    background: none;
  }

  &__wrap {
    display: flex;
    padding-left: 375px;

    @media (max-width: 1259px) {
      padding-left: 310px;
    }

    @media (max-width: 991px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 75px;

    br {
      display: none;

      @media (max-width: 991px) {
        display: inline;
      }
    }

    @media (max-width: 991px) {
      text-align: center;
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      margin-bottom: 25px;
      font-size: 30px;
      text-align: left;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 45px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    /*colors*/
    &:nth-child(1) {
      .cooperation__icon-box {
        background-color: $dark;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      .cooperation__icon-box {
        background-color: $dark;
      }
    }

    &:nth-child(4) {
      .cooperation__icon-box {
        background-color: $light;
      }
    }
    /*colors*/

    /*icons*/
    &:nth-child(1) {
      .cooperation__icon-box {
        background-image: url(/media/images/sections/cooperation/icon1.svg);
      }
    }

    &:nth-child(2) {
      .cooperation__icon-box {
        background-image: url(/media/images/sections/cooperation/icon2.svg);
      }
    }

    &:nth-child(3) {
      .cooperation__icon-box {
        background-image: url(/media/images/sections/cooperation/icon3.svg);
      }
    }

    &:nth-child(4) {
      .cooperation__icon-box {
        background-image: url(/media/images/sections/cooperation/icon4.svg);
      }
    }
    /*icons*/

    @media (max-width: 991px) {
      align-items: center;
    }

    @media (max-width: 600px) {
      flex-direction: row;
      align-items: flex-start;

      &:nth-child(3) {
        order: 1;
      }
    }
  }

  &__item-title {
    margin-bottom: 10px;

    @media (max-width: 600px) {
      margin-bottom: 5px;
    }
  }

  &__item-img {
    @media (max-width: 991px) and (min-width: 601px) {
      margin-bottom: 20px;
    }
  }

  &__icon-box {
    border-radius: 50%;
    width: 77px;
    height: 77px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      width: 65px;
      height: 65px;
      margin: 0;
    }

    @media (max-width: 600px) {
      width: 50px;
      height: 50px;
      background-size: 22px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;

    @media (max-width: 991px) {
      align-items: center;
    }

    @media (max-width: 600px) {
      align-items: flex-start;
      margin-left: 15px;
    }
  }

  &__text {
    @media (max-width: 991px) and (min-width: 601px) {
      text-align: center;
    }
  }
}
 